In [1]:
import pandas as pd
import numpy as np
import sqlite3 
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats
ConnectiontoDF = sqlite3.connect("im.db") 
cur = ConnectiontoDF.cursor()
cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")
table_names = cur.fetchall()
table_names

[('movie_basics',),
 ('directors',),
 ('known_for',),
 ('movie_akas',),
 ('movie_ratings',),
 ('persons',),
 ('principals',),
 ('writers',)]

In [2]:
Whatisinhere1 = """
SELECT *
FROM movie_basics
LIMIT 5
;
"""

movie_basics_table = pd.read_sql(Whatisinhere1, ConnectiontoDF)
movie_basics_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         5 non-null      object
 1   primary_title    5 non-null      object
 2   original_title   5 non-null      object
 3   start_year       5 non-null      int64
 4   runtime_minutes  4 non-null      float64
 5   genres           5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [3]:
movie_basics_table['start_year'] = pd.to_datetime(movie_basics_table['start_year'])

movie_basics_table['start_year'] = movie_basics_table['start_year'].dt.year

In [4]:
movie_basics_table.head()
print(movie_basics_table["start_year"])

0    1970
1    1970
2    1970
3    1970
4    1970
Name: start_year, dtype: int64

In [5]:
movie_basics_table.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,1970,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,1970,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,1970,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,1970,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,1970,80.0,"Comedy,Drama,Fantasy"

In [6]:

dz = movie_basics_table.drop('genres', axis=1).join(movie_basics_table['genres'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('genres '))


dz['describe_this_year'] = dz['start_year'].map(lambda x: 'old' if x < 1971 else ('kinda_old' if 1971 < x < 2010 else 'New'))


#dy = dz.loc[dz['start_year'] > 2000]
#dy.head()

Empty DataFrame
Columns: [movie_id, primary_title, original_title, start_year, runtime_minutes, genres , describe_this_year]
Index: []

In [10]:
#dz = dz.drop_duplicates()
dz["genres"].value_counts()
#group by genre rerun into different graph 
#use this https://github.com/learn-co-curriculum/dsc-dealing-missing-data-lab/tree/solution

KeyError: 'genres'

In [15]:
sns.set()
plt.figure()

ax = sns.barplot(data=dz, x = "start_year", y = "genres)
#can i join this table now
#you gotta go to im.db's thing and go to movie ratings look at the chart tomorrow or when you wake up
#what i need to do to merge the cells is to find the top 100 movies with the highest income via the BOM file-
#then i need to past a function of the "name of the movie"
#of the top 100 movies