In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
ConnectiontoDF = sqlite3.connect("im.db") 


#https://github.com/learn-co-curriculum/dsc-selecting-data


print("Data type:", type(ConnectiontoDF))
print("Uncommitted changes:", ConnectiontoDF.in_transaction)
print("Total changes:", ConnectiontoDF.total_changes)

Data type: <class 'sqlite3.Connection'>
Uncommitted changes: False
Total changes: 0

In [3]:
cur = ConnectiontoDF.cursor()

In [4]:
cur.execute("""SELECT name FROM sqlite_master WHERE type = 'table';""")
table_names = cur.fetchall()
table_names

[('movie_basics',),
 ('directors',),
 ('known_for',),
 ('movie_akas',),
 ('movie_ratings',),
 ('persons',),
 ('principals',),
 ('writers',)]

In [23]:
#data = pd.read_csv("bom.movie_gross.csv.gz")#

#ype(data["domestic_gross"])
#ype(data["foreign_gross"])
#data.head()

#data.foreign_gross = data.foreign_gross.str.strip()

#data["foreign_gross"] = data["foreign_gross"].fillna(0)
#data["foreign_gross"] = data["foreign_gross"].astype(int)



#ata.sort_values(by=["foreign_gross"], inplace = True, ascending = True)


#data["foreign_gross"] = data["foreign_gross"].fillna(0)
#data["foreign_gross"] = data["foreign_gross"].astype(int)
#data.head()

#data["domestic_gross"] = data["domestic_gross"].fillna(0)
#data["domestic_gross"] = data["domestic_gross"].astype(int)#bug?!?! or change into floats either works 


#datacsvBOM =data.loc[(data["domestic_gross"] + data["foreign_gross"].astype('int64').fillna(0))> 0]


#data["total_gross"] = data["domestic_gross"].astype(int) + data["foreign_gross"].astype(int)


#ddatacsvBOM.head()

#https://flatiron.illumidesk.com/user/lraymond94sbu/notebooks/dsc-accessing-data-with-pandas/index.ipynb
#add_column = """
#ALTER TABLE data
#ADD COLUMN totalnumber REAL;
#"""
#cur.execute(add_column)
#fill_values = """
#UPDATE data
#SET totalnumber = domestic gross + foreign_gross
#;
#"""
#cur.execute(fill_values)
#Total_gross = """
#ALTER TABLE 
#ADD COLUMN creditLimitNumeric REAL;
#"""
#cur.execute(add_column)

In [24]:
data = pd.read_csv("bom.movie_gross.csv.gz")
data.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [ ]:
#so if i convert this float to string then i would do:
#this might work but i need to convert NaN valuesdata
#data["domestic_gross"] = data["domestic_gross"].fillna(0)
#after this i want to change all values to integers because its a mix of 0 
#data["domestic_gross"] = data["domestic_gross"].astype(int)
#data.head(5) this verifies that all of them are integers
#now i want to sort by ascending order with a WHERE clause 
#pd.read_sql("""SELECT * FROM movie_basics WHERE domestic_gross >=10000000;""", ConnectiontoDF)

In [ ]:
add_column = """
ALTER TABLE data
ADD COLUMN domestic_gross1 REAL;
"""
cur.execute(add_column)